#box{
	border:1px solid black;
	margin:30px 340px 10px 340px;
	background-color:#e8f7e2;
	display:block;
	border-radius:2%;
	padding:10px 0px 10px 0px;
    padding-left: 50px;
}
#f3{
	margin:0px 10px 0px 10px;
	color: rgb(0, 0, 0);
}
#online{
	margin:0px 10px 0px 10px;
	display:none;
}
#on2,#on3{
	display:none;
}
#on3{
	padding-left: 80px;
	margin:5px 10px 10px 10px;
}
#log{
	text-align:center;
	margin-top:10px;
	font-size:18px;
}
p{
	font-size:15px;
	margin:0px 0px 0px 5px;
	font-weight:bold;
}
label{
	font-size:18px;
	font-weight:bold;
}
pm1{
	font-size:16px;
	font-weight:bold;
}
h1{
	font-size:40px;
	color:rgb(0, 0, 0);
	text-align:center;
}
button{
	width:50%;
	height:50px;
	text-align:center;
	background-color:rgb(3, 165, 43);
	color: rgb(0, 0, 0);;
	font-size:25px;
	border-radius:8%;
	border:none;
	margin:0px 0px 0px 120px;
	font-family:'Open Sans',sans-serif;
}
input{
	padding-bottom:10px;
	margin-bottom:7px;
	margin-top:20px;
	padding-top:10px;
}
#country{
	height:40px;
	width:190px;
}
#sel{
	padding-top:15px;
}